<% include ./partial/header %>
<div
  class="container"
  style=" position: relative;
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px 0 30px 0;
width: 40%;

"
>
  
      <form action="/manager/<%=manager._id%>?_method=PUT" method="POST" style="margin-top: 20px;">
        <div class="row">
          <div class="col">
            <h1 style="text-align:center;">Edit Profile <%= manager.name%></h1>
            <div class="form-group form-inline">
                <label for="name" style="width: 200px;
                display: inline-block;
                text-align: right;
                ">Name</label>
              <input
                class="form-control"
                type="text"
                id="name"
                value="<%= manager.name%>"
                name="manager[name]"
              />
            </div>
            <div class="form-group form-inline">
                <label for="username" style="width: 200px;
                display: inline-block;
                text-align: right;
                ">Username</label>
              <input
                class="form-control"
                type="text"
                id="username"
                value="<%= manager.username%>"
                name="manager[username]"
              />
            </div>
            <div class="form-group form-inline">
                <label for="project" style="width: 200px;
                display: inline-block;
                text-align: right;
                ">Project</label>
              <input
                class="form-control"
                type="text"
                id="project"
                value="<%= manager.project%>"
                name="manager[project]"
              />
            </div>

            <div class="form-group form-inline">
                <label for="url" style="width: 200px;
                display: inline-block;
                text-align: right;
                ">Image Url</label>
              <input
                class="form-control"
                type="text"
                id="url"
                value="<%= manager.image%>"
                name="manager[image]"
              />
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-default btn-block">Submit</button>
            </div>
          </div>
        </div>
      </form>
    <a href="/manager/<%= manager.id%>">Back</a>
    </div>
  </div>
</div>

<% include ./partial/footer %>
